<footer class="footer">
    <div class="left-footer-elements">
        Created by {{name}}
    </div>
    {{!-- <div class="center-footer-elements">
        EXPLORE
    </div> --}}
    {{!-- <div class="right-footer-elements">
       SOCIAL
    </div> --}}
</footer>